body{
  background-color:#212121

}
.webcolor{
  background-color: #212121;
}
/* .card { */
  /* width: 400px;
  height: 300px; */
  /* border-radius: 30px; */
  /* padding: 7px; */
  /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
/* } */

/* .card__content {
  background: rgb(5, 6, 45);
  border-radius: 20px;
  width: 100%;
  height: 100%;
} */
.card {
  position: relative;
  width: 450px;
  height: 400px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 460px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(0.89) scaleY(1.12);
}


button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}


.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.headd {
  font-family: 'Roboto Slab', sans-serif; /* Apply your chosen stylish font */
  font-weight: bold; /* Make the text bold */
  color: #fff; /* White color for text */
 
  /* padding: 10px 20px; */
  display: inline-block; /* Ensures padding applies correctly */
  text-shadow: 10px 10px 20px rgba(230, 0, 255, 0.5); /* Gradient shadow effect */
}


@keyframes ldio-4j5ay0xf86g {
  0% {
   opacity: 1
  }
 
  100% {
   opacity: 0
  }
 }
 
 .ldio-4j5ay0xf86g div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-4j5ay0xf86g linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
 }
 
 .ldio-4j5ay0xf86g div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
 }
 
 .loadingio-spinner-spinner-977el9wwy2v {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
 }
 
 .ldio-4j5ay0xf86g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
 }
 
 .ldio-4j5ay0xf86g div {
  box-sizing: content-box;
 }